var config = {};

config.database = {
  host: 'tv-listings.XXXXXXXXXXXXXXXX.us-east-1.rds.amazonaws.com',
  port: '3306',
  user: 'XXXXXXXXXXXXXXXX',
  password: 'XXXXXXXXXXXXXXXX',
  database: 'listings',
  timezone: 'utc'
}

config.rovi = {
  url: 'http://api.rovicorp.com/TVlistings/v9/listings/linearschedule/63892/info',
  key: 'XXXXXXXXXXXXXXXX'
}

module.exports = config;